.button{
  background-color: #0FAEC550;
  color: #7FFF0050;
  border-radius: 20px;
  &:hover{
    color: chartreuse;
  }
}
.box--characters{
  border: 1px solid chartreuse;
  padding: 40px;
  width: 25%;
  display: grid;
  justify-content: center;
}
.box--image{
  width: 100px;
  margin-left: 25%;
}
.box--all{
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}
.buttons{
  display: flex;
  gap: 15px;
  justify-content: center;
}
.btn{
  display: grid;
  padding: 10px 20px;
  color: rgba(15, 174, 197, 0.95);
  border-radius: 10px;
  &:hover{
    color: chartreuse;
  }

}
.btn--all{
  background-color: rgba(127, 255, 0, 0.14);
}
.btn--dead{
  background-color: #f96e4d;
}
.btn--alive{
  background-color: darkolivegreen;
}
.btn--unknown{
  background-color: grey;
}
