.App {
  text-align: center;
  background-color: black;
  color: chartreuse;
}

body{
  background-color: black;
}

.header--links{
  display: flex;
  justify-content: space-between;
}

.header{
  padding: 15px;
  border-bottom: 1px solid black;
  color: chartreuse;
}

.link{
  text-decoration: none;
  color: chartreuse;
  cursor: pointer;
  background-color: black;
    &:hover {
      opacity: 0.7;
    }
}

.link--active{
  color: #0FAEC5;
  font-weight: bold;
}
